#trumpButton {
	background-color:#000286;
	border:2px solid #c42020;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:10px 60px;
	text-decoration:none;
    position: absolute;
    left: 40px;
    top:10px;
}
#trumpButton:hover {
	background-color:#304294;
}

#output{
    min-width: 226px;
    max-width: 226px;
    min-height: 100px;
    max-height: 100px;
    background-color:#000286;
    border: 2px solid #c42020;
    color:#ffffff;
    font-family:Verdana;
    font-weight:bold;
    position: absolute;
    top: 72px;
    left: 40px;
}

#scoreButton{
	background-color:#000286;
	border:2px solid #c42020;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:10px 60px;
	text-decoration:none;
    position: absolute;
    top: 185px;
    left: 40px;
    width: 233px;
}



#twitterButton {
	background-color:#4099ff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:8px 14px;
    position: absolute;
    top: 250px;
    left: 60px;
}
#twitterButton:hover {
	background-color:#c41c1c;
}

#facebookButton{
	background-color:#3b5898;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:9px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    position: absolute;
    top: 250px;
    left: 110px;
}
#facebookButton:hover {
	background-color: #c41c1c;
}

#instaButton {
	background-color:#fb3958;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:8px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    position: absolute;
    top: 250px;
    left: 160px;
}
#instaButton:hover {
	background-color:#3b5898;
}

#webButton {
	background-color:#125688;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:9px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    position: absolute;
    top: 250px;
    left: 210px;
}
#webButton:hover {
	background-color:#c41c1c;
}



        
        
        